body {
    background-color: #222;
    color: white;
    font-size: 15pt;
    font-family: monospace;
}

.template {
    display: none;
}

.box {
    background-color: #333;
    padding: 10px;
    margin-bottom: 20px;
}

.segment-container {
    padding: 10px 0;
}

.level-title {
    color: rgb(96, 255, 207);
    font-style: italic;
    padding-top: 10px;
}

.hms-input {
    display: inline-block;
    margin: auto 10px;
}

.input {
    display: inline-block;
}

.seg-button {
    display: none;
    margin: 0;
}

.segment-container:hover .seg-button {
    display: inline-block;
    background-color: rgb(96, 255, 207);
    border-color: #00000000;
}

select {
    font-size: 15pt;
    font-family: monospace;
    color: white;
    background-color: #222;
    border-color: #0000;
}

.include-ms {
    display: inline-block;
}

#includeMS-checkbox {
    pointer-events: none;
}

#reset-button {
    float: right;
}

input {
    font-size: 15pt;
    font-family: monospace;
}

input[type="number"] {
    width: 50px;
    margin-right: 5px;
    text-align: right;
    background-color: #222;
    color: white;
    border-color: #0000;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
    font-size: 15pt;
    font-family: monospace;
}

.result {
    display: inline;
    margin-left: 30px;
}